


$primary-font: 'Nunito', sans-serif;
$light-color: #ffffff;
$dark-color: #000000;
$title-color: #28384c;
$title-color-2: #3c4dc1;
$paragraph-color: #28384c;
$paragraph-color-light: #c7bef3;
$hover-color: #46d6fa;

$home1-bg: #181137;
